[submodule "embedded/libtock-c"]
	path = embedded/libtock-c
	url = https://github.com/tock/libtock-c.git
[submodule "embedded/libents/src/libents/nanopb"]
	path = embedded/external/nanopb/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "embedded/libents/src/libents/microlog"]
	path = embedded/external/microlog/microlog
	url = https://github.com/an-dr/microlog.git
[submodule "embedded/external/bme280/BME280_SensorAPI"]
	path = embedded/external/bme280/BME280_SensorAPI
	url = git@github.com:boschsensortec/BME280_SensorAPI.git
