[submodule "embedded/libtock-c"]
	path = embedded/libtock-c
	url = https://github.com/tock/libtock-c.git
[submodule "embedded/libents/nanopb"]
	path = embedded/libents/nanopb
	url = https://github.com/nanopb/nanopb.git
