---
Checks: 'bugprone-*, clang-analyzer-*, google-*, modernize-*, performance-*, portability-*, readability-*'
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '.*(libents|libtock|libtock-sync).*'
FormatStyle:     Google
#User:            jtmadden
CheckOptions:    {}
SystemHeaders:   false
...

